/*
 * Empty Stylesheet file.
 */

TextField, PasswordField {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 0, 1, 2;
}
TextField:focused, PasswordField:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 0, 1, 2;
}


.loginBackground {
    -fx-background-color: linear-gradient(to bottom, #1E5799, #d4d4d4);
}
.mainFxmlClass {
    -fx-font-size: 16px;
}
