/*
 * Empty Stylesheet file.
 */

TextField, PasswordField {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 0, 1, 2;
}
TextField:focused, PasswordField:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 0, 1, 2;
}


.loginBackground {
    -fx-background-image: url('/assets/backgrounds/ws_Green_Blur.jpg');
}
.mainFxmlClass {
    -fx-font-size: 16px;
}
